body {
  /* Justify paragraphs */
  p {
    text-align: justify;
  }

  /* Back home anchor customization:
    - Change color
    - Add prefix left arrow
  */
  a[href="/"] {
    color: rgba(0, 0, 0, 0.7);
  }
  a[href="/"]::before {
    content: "↤ ";
    font-size: 1.5rem;
  }

  /* Make first letter of first paragraph big:
    - Unconsider header images
  */
  div:first-of-type > h2:first-of-type+p:not(:has(img))::first-letter {
    font-size: 45px;
    font-family: InitialCaps-O5WP;
  }

  /* Quote callouts customizations:
    - Add big opening and closing double quotes
    - Remove ugly icon
    - Remove background
    - Centralize it
  */
  div.callout-quote .admonition-title::before {
      content: "";
      margin-bottom: 0px;
      margin-right: 0px;
  }
  div.callout-quote .admonition-title em::before {
      content: "❝ ";
      font-size: 2rem;
  }
  div.callout-quote .admonition-title em::after {
    content: "❞ ";
    font-size: 2rem;
    text-align: right;
  }
  div.callout-quote .admonition-title {
    font-size: 1rem; 
  }
  div.callout-quote .admonition-title em {
    font-size: 1.3rem; 
    color: rgba(0,0,0,0.7);
  }
  div.callout-quote .admonition-title p {
    display: none;
  }
  div.callout-quote p {
    display: none;
  }
  div.callout-quote {
    text-align: right;
    font-family: fangsong;
    background-color: transparent;
  }
}