<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M6XRT35');</script>
    <!-- End Google Tag Manager -->
    <title>{{ collections.gardenEntry[0].fileSlug }}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6XRT35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {%include "components/notegrowthhistory.njk"%}
    <div class="content">

      {% if collections.gardenEntry[0].dgShowInlineTitle === true %}
        <h1>{{ collections.gardenEntry[0].fileSlug }}</h1>
      {% endif %}
      {%- for garden in collections.gardenEntry -%}
        {{garden.templateContent | link | highlight | safe }}
      {%- endfor -%}


      {%if collections.gardenEntry[0].data.dgShowBacklinks === true or collections.gardenEntry[0].data.dgShowLocalGraph === true%}
        {%include "components/sidebar.njk" %}
      {%endif%}
      </div>
    </body>
  </html>